{{ define "Create" }}
    {{ template "Header" }}
    {{ template "Menu"  }}
    <br>
    <h1>Create Customer</h1>
    <br>
    <br>
    <form method="post" action="/insert">
        <label>Customer Name:
            <input type="text" name="customername" placeholder="customername" autofocus/>
        </label>
        <br>
        <br>
        <label>SSN:
            <input type="text" name="ssn" placeholder="ssn"/>
        </label>
        <br>
        <br>
        <input type="submit" value="Create Customer"/>
    </form>
    {{ template "Footer" }}
{{ end }}
